<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>
            Made with <i class="fa fa-heart-o pulse "></i> by <a href="https://www.storytracer.org">Sebastian Majstorovic</a>.<br />
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>&nbsp;<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>.
        </p>
    </section>
</section>
